body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.top-bar{
    background: #F0FFF0;
    width: 1920px;
    height: 625px;
}
.container{
    margin-bottom: 100px;
}
.container p{
    color: gray;
}
.question{
    color: rgb(238, 45, 45) !important;
}
.t-cr{
    color: #21B573;
}
.container img{
    width: 198.07px;
}
.row img{
    width: 100%;
}
.navbar{
    background-color: #F0FFF0 !important;
}
.navbar-nav a{
    color: black!important;
}
.btn{
    background: #21B573;
    color: white;
    border-radius: 20px;
    padding: 9px 25px;
    align-items: center;
}
.btn:hover{
    color: white;
}
.service-image{
    width: 100px !important;
    margin-top: 20px;
}
.services{
    padding: 2px;
    outline: 10px solid white;
    background: #F0FFF0;
    border-radius: 5px;
}
.services h4{
    padding: 5px;
    margin-top: 55px;
    color: black;
}
.container h5{
    color: #413960;
}
.card-footer img{
    width: 30px;
    float: left;
}
.card-footer p{
    margin-top: 7px;
    margin-right: 55px;
}
.card-footer #next{
    margin-right: 0px;
}
.card-footer{
    border: none;
    background: white;
}
.col{
    border: 0px solid white;
    padding: 20px;
    box-shadow: 5px 5px 15px grey;
    border-radius: 15px;
}
#last img{
    width: 100px;
}
#last p{
    color: black;
}
#white p{
    color: white;
}
.bottom-bar{
    background: #282531;
}
footer{

}